<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
</head>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/imagehoster.css}"/>
</head>
<!-- Using the logged-in fragment -->
<header th:replace="layout :: logged-in"></header>
<!-- Display all the images in user home page after successful log in-->
<body>
<div id="topsection">
<h3 style="text-align:center;color:grey" id="imagetag">ImageGallery</h3>
<form id="search-form" th:action="@{/images/tags}" th:method="POST" th:object="${User}">
    <input type="text" id="imgtags" name="imgtags" placeholder="Enter image tag..."/>
    <input type="submit" value="Search"/>
</form>
</div>
<div id="gallery">
    <div class="image" th:each="i : ${images}">
            <img th:src="'data:image/jpeg;base64,'+${i.imageFile}"/>

        <a th:href="'/images/'  + ${i.id} + '/' + ${i.title}">
            <h4 th:text="${i.title}">Title of image</h4>
        </a>
        </div>
</div>
</body>
</html>
