<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<!-- Adding the fragment site-head in layout.html-->
<head th:replace="layout :: site-head">
</head>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/imagehoster.css}"/>
</head>
<!-- Adding the fragment logged-out in layout.html-->
<header th:replace="layout :: logged-out"></header>

<body>
<div id="container">
      <div class="imggrid">
          <div class="homemsg">
              <h3 style="color:blue;"><i>Enjoy coolest Photos!</i></h3>
                <h4 style="color:blue;margin-top:0;padding-top:0">Discover the world :)</h4>
          </div>
          <div class="homeimg" th:each="i : ${images}">
                  <img style="width:100%" th:src="'data:image/jpeg;base64,'+${i.imageFile}"/>
              </div>
          </div>
    <div class="homelogin">
        <h3 style="color:grey;text-align:center">Please Login</h3>
        <form class="login-form" th:action="@{/users/login}" th:method="POST" th:object="${User}">
            <label for="username">Username</label><br/>
            <input type="text" id="username" name="username"/><br/><br/>
            <label for="password">Password</label><br/>
            <input type="password" id="password" name="password"/><br/><br/>
            <input type="submit" value="Login"/>
        </form>
    </div>
    <footer style="width:100%;text-align:right;color:grey;font-size:0.8em;align-self:end;margin-top:200px" id="site-footer">
        <hr/>
        <span style="margin-right:15px">Copyright @Pritesh</span>
    </footer>
</div>


</body>
</html>